root = true

[*]
charset = utf-8
end_of_line = lf
max_line_length = 80
insert_final_newline = true
tab_width = 4

[*.{nix,sh,zsh}]
indent_style = space
indent_size = 2

# from https://github.com/isabelroses/dotfiles/blob/main/.editorconfig
[*.{diff,patch,lock}]
indent_style = unset
indent_size = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
