# just to make triple-sure that all `.DS_Store`'s are ignored
**/**/*.DS_Store

# ignore everything in .config/raycast/
.config/raycast/**

# ignore everything in .config/zed, except settings.json
.config/zed/**
!.config/zed/settings.json
