# This is Git's per-user configuration file.
[user]
	name = June B
	email = jrbergeron823@gmail.com
# Please adapt and uncomment the following lines:
#	name = June Bergeron
#	email = junebergeron@Junes-MacBook-Air.local
